@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white;
}
/* Add this to your CSS file */
input,
textarea {
  @apply bg-gray-800 text-white border border-gray-600 rounded p-2 placeholder-gray-400;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}
/* Scrollbar for Webkit */

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155;
}
